@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css");

#app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navBar {
    border: 2px solid salmon;
    border-radius: 5px;
    padding: 1rem;
}

.content {
    border: 2px solid salmon;
    border-radius: 5px;
    padding: 1rem;
}